<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&family=Peralta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://img.icons8.com/?size=100&id=37118&format=png&color=000000"
                 alt="geologo" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: 20px;" href="/"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px;" href="/about"><strong>About Us</strong></a>
                </li>
            </ul>

            <form action="/search" method="get" class="d-flex">
                <input class="form-control me-2" type="search" name="text" placeholder="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-auto">
                <a href="/login" class="btn btn btn-outline-light" type="button">Log In</a>
                <a href="/register" class="btn btn btn-outline-light" type="button">Register</a>
            </div>
        </div>
    </div>
</nav>


<div class="container shadow-lg p-3 mb-5 rounded">
    {%block content%}
    {%endblock%}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>