{% extends "base.html" %}

{% block title %} Welcome to GeoHistory {% endblock %}

{%block content%}

<h1 class="text-center">welcome to GeoHistory</h1>
<hr class="border border-dark border-1 opacity-100">

<div class="row">
    {% for geohistory in geohistory %}
    <div class="col-12 d-flex text-center justify-content-center">
        <div class="card w-75 mb-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/' ~ (geohistory.image or 'add_image.png')) }}" alt="img" height="500">
            <div class="card-body">
                <h5 class="card-title">{{ geohistory.history_title }}</h5>
                <hr>
                <h5 class="card-title">{{ geohistory.description | truncate(120) }}</h5>
                <div class="btn-group">
                    <a href="/geohistory/{{ geohistory.id }}" class="btn btn-primary">Read More</a>
                    {%if current_user.role == "admin" %}
                    <a href="/delete_history/{{ geohistory.id }}" class="btn btn-danger">Delete</a>
                    <a href="/edit_history/{{ geohistory.id }}" class="btn btn-info">Edit</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}


